.isp-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.isp-name {
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .isp-name {
    font-size: 1.5em;
  }
}
